* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 205px;
    height: 60px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.9;
    border-radius: 30px;
    background: #2e80ce;
}

/* ===================header=================== */
.header {
    min-height: 100vh;
    background: #10375c;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header-top {
    display: flex;
    align-items: center;
}

/* logo */
.logo {
    display: flex;
}

.logo__circle {
    position: relative;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #2e80ce;
    margin-right: 6px;
}
.logo__circle::before {
    position: absolute;
    top: 11px;
    left: 11px;
    bottom: 3px;
    right: 3px;
    content: "";
    display: inline-block;
    border-radius: 16px;
    background: #fff;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.logo__brand {
    color: #fff;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 0.77778;
}
.logo__brand--small {
    display: block;
    float: right;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
}
/* navbar */
.navbar {
    flex: 1;
    margin-left: 318px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    margin-right: 42px;
}

.navbar__item:last-child {
    margin-right: 0px;
    text-align: right;
}

.navbar__item a {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* action */
.header-action {
    float: right;
    margin-left: 222px;
    display: flex;
    align-items: center;
}
.header-action__link {
    width: 49px;
    height: 28px;
    margin-right: 28px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action__sign {
    border-radius: 22px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.75;
    width: 104px;
    height: 44px;
}

/* hero */
.hero {
    display: flex;
    margin-top: 76px;
}

.hero__content {
    flex: 1;
}

.hero__content--title {
    width: 517px;
    color: #fff;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14286;
    letter-spacing: -1.4px;
    margin-bottom: 22px;
}

.hero__content--desc {
    width: 486px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66667;
    margin-bottom: 38px;
}

.hero__row {
    display: flex;
    align-items: center;
}

.hero__row--action {
    text-align: center;
    width: 205px;
    height: 60px;
    border-radius: 30px;
    line-height: 3.36667;
}

.hero__row--contact {
    margin-left: 38px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

.hero__images {
    display: flex;
    align-items: center;
    margin-left: 113px;
}

.hero__img {
    object-fit: cover;
    width: auto;
    height: auto;
}

/* ===================Sevice================== */
.services {
    margin: 170px 0;
}

.services--tittle {
    margin-bottom: 18px;
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.services--desc {
    margin-bottom: 70px;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66667;
}

.services__row {
    display: flex;
    gap: 0 130px;
}

.body__list {
    margin-top: 35px;
    margin-bottom: 55px;
}

.body__item {
    width: 470px;
    height: 128px;
    border-radius: 10px;
    background: #fff;
    padding: 21px 0 20px 22px;
    display: flex;
    gap: 0 19px;
}

.body__item__info--title {
    display: block;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.body__item__info--desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.body__item:hover {
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.body__item--circle {
    color: #10375c;
    font-size: 24px;
    display: flex;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #eff6fd;
    /* box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15); */
}

.body__item:hover .body__item--circle {
    color: white;
    background: #2e80ce;
    box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
}

.services-action {
    line-height: 3;
}

/* ==========================hows it work==================== */
.how-it-works {
    background: #f6fbff;
    padding: 100px 0 116px;
}

.how-it-works--tittle {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 18px;
}

.how-it-works--desc {
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.66667;
}

.list-works {
    display: flex;
    gap: 0 30px;
}

.list-works__item {
    margin-top: 86px;
    flex: 1;
    width: 370px;
    height: 402px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #fff;
    padding: 43px 42px;
}

.list-works__item:hover {
    margin-top: 70px;
    border-color: #2e80ce;
}

.list-works__item:hover a {
    font-weight: 400;
    color: #2e80ce;
}

.icon-work {
    color: #10375c;
    width: 72px;
    height: 72px;
    font-size: 67px;
    margin-bottom: 18px;
}

.icon {
    position: relative;
}

.icon .fa-magnifying-glass {
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
    z-index: 1;
    font-size: 33px;
    position: absolute;
    top: 43px;
    right: 0px;
}

.list-works-item--tittle {
    display: inline-block;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38426;
    margin-bottom: 28px;
}

.list-works-item--desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 18px;
}

.list-works-item--action {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ==========about us============== */
.about-us .container {
    display: flex;
    justify-content: flex-end;
}

.about-us {
    margin: 170px 0;
}

.about-us__images {
    flex: 1;
    display: flex;
    position: relative;
    margin-right: 188px;
}

.image {
    position: absolute;
    max-width: 100%;
    object-fit: cover;
}

.about-us__images__image-1 {
    top: -14px;
    left: -26px;
}

.about-us__images__image-2 {
    top: 121px;
    left: 238px;
}

.about-us__text {
    padding: 82px 0 83px;
}

.about-us__text--tittle {
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 18px;
}

.about-us__text--desc {
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66667;
    margin-bottom: 38px;
}

.about-us__text--action {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2;
}

/* ==============team======================= */

.team--title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 38px;
}

.team__row-2 {
    text-align: center;
}

.team--action {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2;
    margin-bottom: 70px;
}

.team__list {
    display: flex;
    gap: 0 30px;
}

.team__list__item {
    flex: 1;
    text-align: center;
}

.team__item__info {
    border-radius: 6px;
    background: #eaf6ff;
}

.team__item--title {
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.team__item--desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85714;
}

.row__cirle {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 18px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid #575f66;
}

.circle:hover {
    background: #2e80ce;
    color: white;
}

/* ===========call to action============= */
.cta {
    margin: 170px 0;
    padding-top: 95px;
}

.cta .container {
    position: relative;
    display: flex;
    border-radius: 4px;
    background: #2e80ce;
}

.cta__text {
    margin-left: 514px;
    padding: 76px 70px 75px 0;
}

.cta__text--title {
    max-width: 489px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 18px;
}

.cta__text--desc {
    max-width: 586px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66667;
    margin-bottom: 38px;
}

.cta__row__dowload-app {
    display: flex;
    gap: 0 28px;
}

.cta__dowload {
    display: flex;
    align-items: center;
    padding: 7px 9px 7px 10px;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.cta__dowload--img {
    margin-right: 8px;
    color: white;
}

.fa-brands {
    display: inline-block;
    font-size: 24px;
}

.cta .image {
    top: -95px;
    left: 70px;
}

/* =========blog================ */
.blog .container {
    display: flex;
    gap: 0 130px;
}

.blog__info {
    flex: 1;
    margin-top: 68px;
}

.blog__info__title {
    color: #10375c;
    max-width: 470px;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.blog__info__cta {
    display: inline-block;
    margin-bottom: 28px;
    margin-top: 28px;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55556;
    text-decoration-line: underline;
}

.blog__info__row__circle {
    display: flex;
    gap: 0 18px;
}

.list__blog {
    display: flex;
    gap: 0 30px;
}

.list__blog__item {
    display: inline-block;
    width: 270px;
    height: 375px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
}

.list__blog__item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.list__blog__item:hover .card__info--cta {
    color: #2e80ce;
}
.card__info {
    padding: 18px 24px 21px 22px;
}
.card__info--title {
    display: inline-block;
    color: #10375c;
    max-width: 224px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.625;
    margin-bottom: 10px;
}

.card__info--desc {
    display: inline-block;
    margin-bottom: 12px;
    max-width: 226px;
    color: #575f66;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.71429;
}

.card__info--cta {
    display: inline-block;
    color: #10375c;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ===============contact============= */
.contact {
    text-align: center;
    margin: 170px 0;
}

.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 178px;
}
.contact--title {
    position: relative;
    color: #10375c;
    max-width: 813px;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-bottom: 38px;
}

.contact--title::after {
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: inline-block;
    content: "";
    width: 136px;
    height: 2px;
    flex-shrink: 0;
    background: #2e80ce;
}
.contact--desc {
    color: #575f66;
    max-width: 617px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 38px;
}

/* ========================footer======================== */
.footer {
    background: #10375c;
    color: #a9b3bb;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

.footer .container {
    display: flex;
    padding-top: 100px;
    gap: 0 78px;
}

.group {
    flex: 1;
}
.footer--desc {
    margin-top: 21px;
    max-width: 336px;
    font-family: Open Sans;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.75;
}

.heading {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;
}

.list-item .row-1 {
    margin-bottom: 28px;
}

.list-item {
    display: flex;
    gap: 0 78px;
}

.list li {
    margin-bottom: 10px;
}

.list li:last-child {
    margin-bottom: 0;
}

.list-item__column {
    flex-direction: column;
}

.list-item__column:last-child {
    flex: 1;
}

.social {
    display: flex;
    gap: 0 10px;
}

.social--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #fff;
    color: #2e80ce;
}

.social--circle:hover {
    background: #2e80ce;
    color: white;
}

.fa-brands {
    font-size: 15px;
}

.item--desc {
    max-width: 273px;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}

input[type="email"] {
    width: 212px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #406181;
    background-color: #10375c;
}

.btn--subscribe {
    width: 108px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2e80ce;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3;
    margin-left: 12px;
}

.copyright {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    padding-bottom: 42px;
}

.copyright::after {
    position: absolute;
    top: -28px;
    display: inline-block;
    content: "";
    width: 1170px;
    height: 1px;
    background: #406181;
}
